* {
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: sans-serif;
  background-color: whitesmoke; }
  body .color {
    background-color: #33230f; }
  body #overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none; }
  body #modal {
    transform: scale(0);
    border-radius: 10px;
    transition: 0.3s;
    width: 55%;
    margin: auto;
    position: relative;
    padding: 60px;
    z-index: 1100;
    background-color: #fff;
    top: -350px; }
    body #modal h1 {
      text-align: center;
      color: #2c2c68; }
    body #modal .close, body #modal .next {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: auto;
      left: auto;
      background-color: #2c2c68;
      border: 3px solid #2c2c68;
      color: whitesmoke;
      border-radius: 10px; }
      body #modal .close:hover, body #modal .next:hover {
        box-shadow: 2px 5px 6px #888888; }
      body #modal .close:active, body #modal .next:active {
        box-shadow: 1px 1px 1px #888888; }
    body #modal .next {
      position: absolute;
      top: auto;
      right: 20px;
      bottom: 20px;
      left: auto; }
      body #modal .next:hover {
        box-shadow: 2px 5px 6px #888888; }
      body #modal .next:active {
        box-shadow: 1px 1px 1px #888888; }

.wrapper {
  position: relative; }
  .wrapper .content {
    display: flex; }
    .wrapper .content p {
      color: #2c2c68; }
    .wrapper .content .primary {
      position: relative;
      padding: 120px 20px;
      flex: 3; }
      .wrapper .content .primary #timer {
        height: 30px;
        position: absolute;
        top: 66px;
        right: 0;
        bottom: 0;
        left: 39px; }
        .wrapper .content .primary #timer #timerPara, .wrapper .content .primary #timer #timerPara #time {
          font-weight: bold; }
      .wrapper .content .primary #scorePaletteDiv {
        height: 30px;
        position: absolute;
        top: 46px;
        right: 0;
        bottom: 0;
        left: 30px; }
        .wrapper .content .primary #scorePaletteDiv #scorePara, .wrapper .content .primary #scorePaletteDiv #scorePara #scorePalette {
          font-weight: bold; }
      .wrapper .content .primary #levelPaletteDiv {
        height: 30px;
        position: absolute;
        top: 26px;
        right: 0;
        bottom: 0;
        left: 30px; }
        .wrapper .content .primary #levelPaletteDiv #levelPara, .wrapper .content .primary #levelPaletteDiv #levelPara #levelPalette {
          font-weight: bold; }
      .wrapper .content .primary #hint, .wrapper .content .primary #next {
        position: absolute;
        top: auto;
        right: auto;
        bottom: 5%;
        left: 10%;
        height: 40px;
        width: 60px;
        background-color: #2c2c68;
        border: none;
        color: whitesmoke;
        font-weight: bolder;
        border-radius: 10px; }
        .wrapper .content .primary #hint:hover, .wrapper .content .primary #next:hover {
          box-shadow: 2px 5px 6px #888888; }
        .wrapper .content .primary #hint:active, .wrapper .content .primary #next:active {
          box-shadow: 1px 1px 1px #888888; }
      .wrapper .content .primary #next {
        position: absolute;
        top: auto;
        right: 10%;
        bottom: 5%;
        left: auto; }
      .wrapper .content .primary h1 {
        color: #33230f;
        text-align: center; }
      .wrapper .content .primary #dashPara {
        text-align: center;
        font-size: 40px; }
      .wrapper .content .primary #keyboard {
        position: relative;
        margin: auto;
        padding: 10px;
        text-align: center; }
        .wrapper .content .primary #keyboard .wordKB {
          border-radius: 25px;
          display: inline-block;
          width: 44px;
          height: 44px;
          background-color: #33230f;
          margin: 7px; }
          .wrapper .content .primary #keyboard .wordKB:hover {
            box-shadow: 2px 5px 6px #888888; }
          .wrapper .content .primary #keyboard .wordKB:active {
            box-shadow: 1px 1px 1px #888888; }
          .wrapper .content .primary #keyboard .wordKB p {
            margin: 10px;
            font-size: 20px;
            color: whitesmoke;
            cursor: pointer; }
    .wrapper .content .secondary {
      flex: 2; }
      .wrapper .content .secondary #img {
        margin: 20px;
        padding-top: 70px;
        position: relative; }
        .wrapper .content .secondary #img .paraImage {
          text-align: center;
          color: #33230f;
          font: 5em/0.7em sans-serif;
          visibility: hidden; }
          .wrapper .content .secondary #img .paraImage.visible {
            visibility: visible; }
        .wrapper .content .secondary #img #one {
          margin-top: auto;
          height: 10px;
          width: 150px;
          background-color: #2c2c68;
          margin: auto; }
        .wrapper .content .secondary #img #two {
          color: #2c2c68;
          margin-top: 75px; }
        .wrapper .content .secondary #img #three {
          margin-top: 15px;
          height: 200px;
          width: 50px;
          background-color: #2c2c68;
          margin: auto; }
        .wrapper .content .secondary #img #four {
          margin-top: 15px;
          height: 120px;
          width: 20px;
          background-color: #2c2c68;
          margin: auto;
          position: absolute;
          top: 51%;
          right: auto;
          bottom: auto;
          left: 39%;
          transform: rotate(27deg); }
        .wrapper .content .secondary #img #five {
          margin-top: 15px;
          height: 120px;
          width: 20px;
          background-color: #2c2c68;
          margin: auto;
          position: absolute;
          top: 51%;
          right: auto;
          bottom: auto;
          left: 57%;
          transform: rotate(-27deg); }
        .wrapper .content .secondary #img #six {
          margin-top: 15px;
          height: 120px;
          width: 20px;
          background-color: #2c2c68;
          margin: auto;
          position: absolute;
          top: 94%;
          right: auto;
          bottom: auto;
          left: 41%;
          transform: rotate(22deg); }
        .wrapper .content .secondary #img #seven {
          margin-top: 15px;
          height: 120px;
          width: 20px;
          background-color: #2c2c68;
          margin: auto;
          position: absolute;
          top: 94%;
          right: auto;
          bottom: auto;
          left: 56%;
          transform: rotate(-22deg); }
        .wrapper .content .secondary #img #eight {
          margin-top: 15px;
          height: 83px;
          width: 11px;
          background-color: #2c2c68;
          margin: auto;
          position: absolute;
          top: 18%;
          right: auto;
          bottom: auto;
          left: 49%; }

/*# sourceMappingURL=style.css.map */
