// sass --watch sass/style.scss:css/style.css

// ---- Variables -----
$DarkBrown:#3d2a12;
$imageColor: #2c2c68;
$fontColor: whitesmoke;

//-----Mixins ---



*{
    box-sizing: border-box;
    margin: 0; 
}
body{
    .color{
        background-color: $DarkBrown;
    }
    font-family: sans-serif;
    background-color: $fontColor;
        #overlay{
            background-color: rgba(0, 0, 0, 0.5);
            height: 100vh;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            display: none;
        }
        #modal{
            transform: scale(0);
            border-radius: 10px;
            transition: 0.3s;
            width: 55%;
            margin: auto;
            position: relative;
            padding: 60px;
            z-index: 1100;
            background-color: #fff;
            top: -350px;
            h1{
                text-align: center;
                color: $imageColor;
            }
            .close{
                position: absolute;
                background-color: $imageColor;
                border: 3px solid $imageColor;
                color: $fontColor;
                border-radius: 10px;
                right: 20px;
                top: 20px;
                &:hover{
                    box-shadow: 2px 3px 6px #888888;
                } 
                &:active{
                    box-shadow: 1px 1px 1px #888888;
                }
            }
            .next{
                position: absolute;
                background-color: $imageColor;
                border: 3px solid $imageColor;
                color: $fontColor;
                border-radius: 10px;
                right: 20px;
                bottom: 20px;
                &:hover{
                    box-shadow: 2px 3px 6px #888888;
                } 
                &:active{
                    box-shadow: 1px 1px 1px #888888;
                }
            }
        }
}
.wrapper{
    position: relative;
    .content{
        display: flex;
        .primary{
            position: relative;
            padding: 120px 20px ;
            flex: 3;
            #hint{
                position: absolute;
                bottom: 5%;
                left: 10%;
                height: 40px;
                width: 60px;
                background-color: $imageColor;
                border: none;
                color: $fontColor;
                font-weight: bolder;
                border-radius: 10px;
                &:hover{
                    box-shadow: 2px 5px 6px #888888;
                } 
                &:active{
                    box-shadow: 1px 1px 1px #888888;
                }
            }
            #next{
                position: absolute;
                bottom: 5%;
                right: 10%;
                height: 40px;
                width: 60px;
                background-color: $imageColor;
                border: none;
                color: $fontColor;
                font-weight: bolder;
                border-radius: 10px;
                &:hover{
                    box-shadow: 2px 5px 6px #888888;
                } 
                &:active{
                    box-shadow: 1px 1px 1px #888888;
                }
            }
            h1{
                color: $DarkBrown;
                text-align: center;
            }
            p{
                color: $imageColor;
                text-align: center;
                font-size: 40px;
            }
            #keyboard{
                position: relative;
                margin: auto;
                padding: 10px;
                text-align: center;
                .wordKB{
                    border-radius: 25px;
                    display: inline-block;
                    width: 44px;
                    height: 44px;
                    background-color: $DarkBrown;
                    margin: 7px;
                    &:hover{
                        box-shadow: 2px 5px 6px #888888;
                    } 
                    &:active{
                        box-shadow: 1px 1px 1px #888888;
                    }
                    p{
                        margin: 10px;
                        font-size: 20px;
                        color: $fontColor;
                        cursor: pointer;
                    }  
                }
            }
        }
        .secondary{
            flex: 2;
            .img{
                margin: 20px;
                padding-top: 70px;
                position: relative;
                #one{
                    height: 10px;
                    width: 150px;
                    background-color: $imageColor;
                    margin: auto;
                }
                #two{
                    color: $imageColor;
                    margin-top: 75px;
                }
                #three{
                    margin-top: 15px;
                    height: 200px;
                    width: 50px;
                    background-color: $imageColor;
                    margin: auto;
                }
                #four{
                    margin-top: 15px;
                    height: 120px;
                    width: 20px;
                    background-color: $imageColor;
                    margin: auto;
                    position: absolute;
                    top: 51%;
                    left: 39%;
                    transform: rotate(27deg);                
                }
                #five{
                    margin-top: 15px;
                    height: 120px;
                    width: 20px;
                    background-color: $imageColor;
                    margin: auto;
                    position: absolute;
                    top: 51%;
                    left: 57%;
                    transform: rotate(-27deg);                
                }
                #six{    
                    margin-top: 15px;
                    height: 120px;
                    width: 20px;
                    background-color: $imageColor;
                    margin: auto;
                    position: absolute;
                    top: 94%;
                    left: 41%;
                    transform: rotate(22deg);                
                }
                #seven{
                    margin-top: 15px;
                    height: 120px;
                    width: 20px;
                    background-color: $imageColor;
                    margin: auto;
                    position: absolute;
                    top: 94%;
                    left: 56%;
                    transform: rotate(-22deg);
                }
                #eight{
                    margin-top: 15px;
                    height: 83px;
                    width: 11px;
                    background-color: $imageColor;
                    margin: auto;
                    position: absolute;
                    top: 18%;
                    left: 49%;                
                }
                p{
                    text-align: center;
                    color: $DarkBrown;
                    font: 5em/0.7em sans-serif;
                    visibility: hidden; 
                    &.visible{
                        visibility: visible;
                    }
                }
            }            
    }
    }
    
    
}
