// sass --watch sass/style.scss:css/style.css

*{
    box-sizing: border-box;
    margin: 0; 
}
body{
    font-family: sans-serif;
}
// ---- Variables -----
$DarkBrown:#3d2a12;
$primaryColor : white ;
$fontColor: whitesmoke;

//-----Mixins ---
.wrapper{
    .mainHeading{
        background-color: $DarkBrown;
        color: $fontColor;
        text-align: center;
        padding: 40px;
    }
    .content{
        display: flex;
        .primary{
            padding: 150px 20px ;
            background-color: $primaryColor;
            flex: 3;
            h1{
                color: $DarkBrown;
                text-align: center;
            }
            p{
                color: $DarkBrown;
                text-align: center;
                font-size: 40px;
            }
            #keyboard{
                position: relative;
                margin: auto;
                padding: 10px;
                text-align: center;
                .wordKB{
                    border-radius: 25px;
                    display: inline-block;
                    width: 44px;
                    height: 44px;
                    background-color: $DarkBrown;
                    margin: 7px;
                    & :hover{
                        box-shadow: 5px 10px 8px #888888;
                    } 
                    p{
                        margin: 10px;
                        font-size: 20px;
                        color: $fontColor;
                        cursor: pointer;
                    }  
                }
            }
        }
        .secondary{
            background-color: $primaryColor; 
            flex: 2;
            .img{
                margin: 20px;
                padding: 20px;
                p{
                    text-align: center;
                    font: 5em/0.8em sans-serif; 
                    display: none;
                }
            }
        }
    }
}