// sass --watch sass/style.scss:css/style.css

// ---- Variables -----
$DarkBrown:#33230f;
$imageColor: #2c2c68;
$fontColor: whitesmoke;

//-----Mixins ---
// hangman image essentials
@mixin imageParts($marginTop , $height, $width) { 
    margin-top: $marginTop;
    height: $height;
    width: $width;
    background-color: $imageColor;
    margin: auto;
}
// absolute position
@mixin position( $top, $right, $bottom, $left){
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}
@mixin buttonProp{
    height: 40px;
    width: 60px;
    background-color: $imageColor;
    border: none;
    color: $fontColor;
    font-weight: bolder;
    border-radius: 10px;
}
@mixin hoverActive {
    &:hover{
        box-shadow: 2px 5px 6px #888888;
    } 
    &:active{
        box-shadow: 1px 1px 1px #888888;
    }
}

*{
    box-sizing: border-box;
    margin: 0; 
}
body{
    .color{
        background-color: $DarkBrown;
    }
    font-family: sans-serif;
    background-color: $fontColor;
        #overlay{
            background-color: rgba(0, 0, 0, 0.5);
            height: 100vh;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1000;
            display: none;
        }
        #modal{
            transform: scale(0);
            border-radius: 10px;
            transition: 0.3s;
            width: 55%;
            margin: auto;
            position: relative;
            padding: 60px;
            z-index: 1100;
            background-color: #fff;
            top: -350px;
            h1{
                text-align: center;
                color: $imageColor;
            }
            .close{
                @include position(20px ,20px ,auto ,auto );
                background-color: $imageColor;
                border: 3px solid $imageColor;
                color: $fontColor;
                border-radius: 10px;
                @include hoverActive;
            }
            .next{
                @include position(auto,20px ,20px ,auto );
                @extend .close;
                @include hoverActive;             
            }
        }
}
.wrapper{
    position: relative;
    .content{
        display: flex;
        p{
            color: $imageColor;
        }
        .primary{
            position: relative;
            padding: 120px 20px ;
            flex: 3; 
            #timer{
                height: 30px;
                @include position(66px,0 ,0 ,39px );
                #timerPara{
                    font-weight: bold;
                    #time{
                        @extend #timerPara;
                    }
                }
            }
            #scorePaletteDiv{
                height: 30px;
                @include position(46px,0 ,0 ,30px );
                #scorePara{
                    font-weight: bold;
                    #scorePalette{
                        @extend #scorePara;
                    }
                }
            } 
            #levelPaletteDiv{
                height: 30px;
                @include position(26px,0 ,0 ,30px );
                #levelPara{
                    font-weight: bold;
                    #levelPalette{
                        @extend #levelPara;
                    }
                }
            }           
            #hint{
                @include position(auto ,auto ,5% ,10% );
                @include buttonProp;
                @include hoverActive;
            }
            #next{
                //  % -> placeholder selector, more compact otput
                @include position(auto ,10% ,5% , auto );                
                @extend #hint;
            }
            h1{
                color: $DarkBrown;
                text-align: center;
            }
            #dashPara{
                text-align: center;
                font-size: 40px;
            }
            #keyboard{
                position: relative;
                margin: auto;
                padding: 10px;
                text-align: center;
                .wordKB{
                    border-radius: 25px;
                    display: inline-block;
                    width: 44px;
                    height: 44px;
                    background-color: $DarkBrown;
                    margin: 7px;
                    @include hoverActive;                
                    p{
                        margin: 10px;
                        font-size: 20px;
                        color: $fontColor;
                        cursor: pointer;
                    }  
                }
            }
        }
        .secondary{
            flex: 2;
            #img{
                margin: 20px;
                padding-top: 70px;
                position: relative;
                .paraImage{
                    text-align: center;
                    color: $DarkBrown;
                    font: 5em/0.7em sans-serif;
                    visibility: hidden; 
                    &.visible{
                        visibility: visible;
                    }
                }
                #one{
                    @include imageParts(auto,10px ,150px );
                }
                #two{
                    color: $imageColor;
                    margin-top: 75px;
                }
                #three{
                    @include imageParts(15px,200px ,50px );
                }
                #four{
                    @include imageParts(15px,120px ,20px );
                    @include position(51% ,auto ,auto ,39% );
                    transform: rotate(27deg);                
                }
                #five{
                    @include imageParts(15px,120px ,20px );    
                    @include position(51% ,auto ,auto ,57% );
                    transform: rotate(-27deg);                
                }
                #six{    
                    @include imageParts(15px,120px ,20px );
                    @include position(94% ,auto ,auto ,41% );
                    transform: rotate(22deg);                
                }
                #seven{
                    @include imageParts(15px,120px ,20px );
                    @include position(94% ,auto ,auto ,56% );
                    transform: rotate(-22deg);
                }
                #eight{
                    @include imageParts(15px,83px ,11px );       
                    @include position(18% ,auto ,auto ,49% );              
                }
            }            
    }
    }
    
    
}
