*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif ;
}   
#btn{

}
#overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
#modal{
    transform: scale(0);
    transition: 0.3s;
    width: 75%;
    margin: auto;
    position: relative;
    top: 90px;
    z-index: 1;
    border: 2px solid black;
    padding: 20px;
    z-index: 1100;
    background-color: #fff;
    h1{
        text-align: center;
        color: rebeccapurple;
    }
    .close{
        position: absolute;
        right: 20px;
        top: 20px;
    }
}

